language: python

matrix:
  include:
    - python: 2.7
      env: TOXENV=ansible21
    - python: 2.7
      env: TOXENV=ansible20
    - python: 2.7
      env: TOXENV=ansible19

install:
  - pip install tox

script:
  - tox

