---
- name: install packages on Debian
  include: install_packages_debian.yml
  when: ansible_os_family == "Debian"

- name: install packages on Red Hat
  include: install_packages_redhat.yml
  when: ansible_os_family == "RedHat"

# Check what version of packer is currently installed.
- name: set default value of packer_version and packer_install_needed
  set_fact:
    packer_install_needed: False

- name: check packer version
  shell: packer --version
  register: packer_current_version
  ignore_errors: True

- name: update value of packer_version
  set_fact:
    packer_install_needed: "{{ not (packer_current_version.stdout | match(packer_version)) }}"
  when: packer_current_version | success

- name: show version info
  debug: msg="Version requested is {{ packer_version }}, found {{ packer_current_version.stdout }}, install needed is {{ packer_install_needed }}"

# Create directories, then fetch and install packer package.
- name: create packer directories
  file: path={{ item }}
        state=directory
        mode=0755
        owner=root
        group=root
  with_items:
    - /usr/local/bin/
    - /var/cache/packer

- name: fetch packer
  get_url: url={{ packer_download_url }}
           dest={{ packer_archive_path }}
  when: packer_install_needed

- name: link packer-packer as packer if it does not exist
  file: path=/usr/local/bin/packer-packer
        state=absent
  when: packer_install_needed

- name: remove old packer version
  shell: rm -f /usr/local/bin/packer*
  when: packer_install_needed

- name: unpack packer
  unarchive: src={{ packer_archive_path }}
             dest={{ packer_binary_path }}
             copy=no
  when: packer_install_needed

- name: fetch packer plugins
  get_url: url={{ item.value.url }}
           dest=/usr/local/bin/{{ item.key }}
           force={{ packer_plugins_force_install }}
  with_dict: packer_plugins

- name: make packer binaries executable
  shell: chmod 0755 /usr/local/bin/packer*

- name: check if packer needs to be symlinked
  command: /bin/ls -1 /usr/local/bin/packer
  ignore_errors: True
  register: packer_exists

- name: link packer-packer as packer if it does not exist
  file: src=/usr/local/bin/packer-packer
        dest=/usr/local/bin/packer
        owner=root
        group=root
        state=link
  when: packer_install_needed and packer_exists|failed

- name: create packer configuration file
  template: src=etc/packer.conf.j2
            dest=/etc/packer.conf
            mode=0644
            owner=root
            group=root
