{
  "builders": {
{% for key, value in packer_plugins.iteritems() if value.type == "builder" %}
    "{{ value.name }}": "{{ packer_binary_path }}/{{ key }}"
{% endfor %}
  },

  "provisioners": {
{% for key, value in packer_plugins.iteritems() if value.type == "provisioner" %}
    "{{ value.name }}": "{{ packer_binary_path }}/{{ key }}"
{% endfor %}
  }
}
